<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiking Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Report</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
  
    <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>
  
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
          apiKey: "AIzaSyBr8rUcWwfIv9f22ACzPPIJoWV6jc9KECQ",
          authDomain: "yanghu-yh-codelab-practice496.firebaseapp.com",
          databaseURL: "https://yanghu-yh-codelab-practice496.firebaseio.com",
          projectId: "yanghu-yh-codelab-practice496",
          storageBucket: "yanghu-yh-codelab-practice496.appspot.com",
          messagingSenderId: "317116116350",
          appId: "1:317116116350:web:00dd67f4b7146f4a5e972f",
          measurementId: "G-EQVJQDQ0QR"
      };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
  </head>    
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" width=auto height="40" style="padding-left: 30px;">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons"> 
                    <div id="login-button">
                        <a class="button is-light" href="/login">
                            <i class="fab fa-google" style="padding-right:5%"></i>  
                            Log in
                        </a>
                    </div>
                    <div id="post-login-button" style="display: none">
                        <a class="button is-light" href="/personal">  
                            My Profile
                        </a>  
                        <a class="button is-light" id="sign-out" href="/">  
                            Sign Out
                        </a>                          
                    </div>                                                                            
                </div>            
            </div>
            </div>
        </div>
    </nav>        
    <section class="section">       
        <div class="container">
            <h1 class="title">
                Theme Views
            </h1>
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="buttons" id="add-buttons">
                        <a class="button is-light is-success" id="add-feature" href="/login" >  
                            <i class="fas fa-plus-square" style="padding-right:5%"></i>
                            New Theme
                        </a>  
                        <a class="button is-light is-success" id="add-report" href="/login">  
                            <i class="fas fa-plus-square" style="padding-right:5%"></i>
                            New Report
                        </a>    
                    </div>                
                </div>
                <!-- Right side -->
                <div class="level-right">
                    <div class="field">
                        <!-- <a class="button is-success is-rounded">Rounded</a> -->
                        <div class="control">
                            <div class="columns is-mobile">
                                <a class="button is-info" onclick="searchFilter()">Search</a>
                                <input class="input is-info" id="search-input" type="text" placeholder="Success input" onkeyup="clearFilter()"/>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>        
        </div> 
    </section>

    <!-- Themes -->
    <div class="container">
        <div class="columns is-desktop is-multiline ">

            {% if user_input['feature_names']|length > 0 %}
                {% for name in user_input['feature_names'] %}
                    <div class="column is-4 theme-box">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <a href="/reports?theme={{ name }}">
                                    <p class="title theme-name" style="padding-bottom: 5%">{{ name }}</p>
                                    <figure class="image is-16by9">
                                </a>
                                <!-- printing avaliable photos or a 'broken' photo -->
                                {% if user_input['feature_imgs'][loop.index - 1] == "0" %}
                                    <img src="http://denrakaev.com/wp-content/uploads/2015/03/no-image-800x511.png">
                                {% else %}
                                    <img src="data:image/jpg;charset=utf-8;base64,{{ user_input['feature_imgs'][loop.index - 1] }}">
                                {% endif %}
                                </figure>
                            </article>
                        </div>
                    </div>  
                {% endfor %}
            {% else %}
                    <div class="tile is-parent">
                        No theme available now
                    </div>
            {% endif %}
        </div>
    </div>  
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/theme_management.js') }}"></script>  
</html>